@import url(normalize.css);
@import url(reset.css);
@import url(https://fonts.googleapis.com/css?family=Chivo:300,700|Playfair+Display:700i);

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --mainColor: #ff9800;
}

body {
  background-color: white;
  font-family: "Chivo", sans-serif;
  font-weight: 300;
  line-height: 1.45;
  color: #333;
}

/* TYPOGRAPHY */

p {
  margin-bottom: 1.25em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1rem;
  font-family: "Montserrat", serif;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

small,
.text_small {
  font-size: 0.8em;
}

/* NAVBAR */

.wrapper {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/assets/images/homepage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.sticky {
  background-color: #333;
  padding: 0% 1%;
  transition: all 0.4s ease;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.nav {
  width: 70%;
  margin: 0 auto;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.menu-item {
  padding: 0.1em;

}

li a,
.branding-link,
.services-link {
  /* Hover Effect */
  background: linear-gradient(to bottom,
      var(--mainColor) 0%,
      var(--mainColor) 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 5px 1px;
  color: #fff;
  text-decoration: none;
  transition: background-size 0.5s ease-in-out;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;

}



li a:hover,
.branding-link:hover {
  transition: all .3s ease-in-out;
  background-size: 4px 50px;
  color: black;
}

.services-link:hover {
  transition: all .3s ease-in-out;
  background-size: 4px 50px;
  color: white;
}

/* BRANDING */

.branding {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  padding: 4%;
  color: white;
  font-size: 30px;
  text-transform: uppercase;
}

.branding .branding-image {
  text-align: center !important;
  margin-top: 4em;
}

.branding-button {
  margin: 0 5em;
  transition: all .5s ease-in-out !important;
}

.branding-link {
  margin-right: 5em;
  color: #fff;
  transition: all .5s ease-in-out !important;
}

.branding-item {
  display: flex;
  justify-content: center;
}

.branding-button {
  border: none;
  padding: 0.5em 1.5em;
  /* background: black; */
  color: #333;
  border-radius: 3px;
  font-size: 1em;
  transition: all .3s ease-in-out;
}

.branding-button:hover {
  background: var(--mainColor);
  color: #fff;
}

/* CONTENT 2 - SERVICES */

.content-2 {
  background-color: #F5F3F1;
  display: flex;
  flex-direction: column;
  padding: 7%;
}

.services {
  display: flex;
  align-content: center;
  justify-content: space-around;
  /* height: 35vh; */
}

.services-title,
.review-title {
  margin: 0 auto;
  text-align: center;
  padding: 4%;
}

.services-description {
  text-align: center;
}

.services-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
  font-size: 23px;
}

.services-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  padding: 1em;
}


/* CONTENT 3 REVIEWS */

.content-3 {
  padding: 5%;
  margin-top: 5em;
  min-height: 70vh;
  background-color: #F5F3F1;
  color: #333;
}

.reviews {
  display: flex;
  padding: 2%;
  justify-content: space-around;
}

.review-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5%;
  border-radius: 3px;
}

.review-button,
.footer-button,
.menu-button {
  border: thin solid rgb(207, 207, 207);
  padding: 0.5em 1.5em;
  color: #333;
  font-size: 1em;
  margin-bottom: 1em;
  transition: all .3s ease-in-out;
  border-radius: 3px;
}

.review-button:hover,
.footer-button:hover,
.menu-button:hover {
  background: var(--mainColor);
  color: #fff;
}

/* CONTENT 4 - FOOTER */

.footer {
  padding: 5%;
  background-color: #636262;
  color: #F5F3F1;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.left-side {
  line-height: 30px;
  text-align: center;
}

.right-side {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.footer-soc {
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.footer-icons {
  display: flex;
  justify-content: space-evenly;

}

.black {
  color: #333;
  transition: all .3s ease-in-out;
}

.black:hover {
  color: rgb(204, 204, 204);
}

.footer-newsletter {
  text-align: center;
}

.footer-input {
  border: thin solid #333;
  padding: 0.5em 1.5em;
  color: #333;
  font-size: 1em;
  margin-bottom: 1em;
  transition: all .3s ease-in-out;
}

/* CONTENT 5 MENU */

/* .content-5 {
  height: 100vh;
} */
.menu-images {
  display: flex;
  justify-content: center;
}

.menu-image {
  display: flex;
  padding: 2%;
  margin-top: 5em;
  justify-content: space-evenly;
  width: 400px;
  height: 400px;
}

.menu-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3%;
  grid-gap: 20px;
}

.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}